extends ./layout/layout

block content
  .content-wrapper(ng-controller='GoodCtrl')
    .container
      .row(style='padding-top:120px;')
        .col-md-3
          .box.box-info
            .box-body.box-profile
              img.profile-user-img.img-responsive.img-circle(src='#{data.author.avatar}', alt='User profile picture')
              h3.profile-username.text-center #{data.author.nickName}
              //p.text-muted.text-center #{id}
              ul.list-group.list-group-unbordered
                li.list-group-item
                  b 贩卖商品
                  a.pull-right 1,322
                li.list-group-item
                  b 收获喜欢
                  a.pull-right 543
          .box.box-info
            .box-header.with-border
              h3.box-title 关于此商品
            .box-body
              strong
                i.fa.fa-btc.margin-r-5
                |  价格
              p.text-muted #{data.price}
              hr
              strong
                i.fa.fa-book.margin-r-5
                |  分类
              p.text-muted
                | #{data.category.name}
              hr
              strong
                i.fa.fa-map-marker.margin-r-5
                |  交易地
              p.text-muted #{data.info.location}
              hr
              strong
                i.fa.fa-phone.margin-r-5
                |  联系方式
              p.text-muted #{data.info.callWay}
              hr
              strong
                i.fa.fa-pencil.margin-r-5
                |  标签
              p
                each item in data.tag.split(',')
                  span.label.label-info #{item}
        .col-md-9
          .box.box-info
            .box-body
              .post
                .info-block
                  //- img.img-circle.img-bordered-sm(src='../../dist/img/user1-128x128.jpg', alt='user image')
                  p.title #{data.title}
                  p.description 最后修改 - #{(new Date(data.meta.updateAt)).toLocaleString()}
                image-slide(data='#{data.imgList}')
                //- .row.margin-bottom
                //-   .col-sm-8
                //-     img.img-responsive(src='/fontend/img/eq/photo1.png', alt='Photo')
                //-   .col-sm-4
                //-     .row
                //-       .col-sm-6
                //-         img.img-responsive(src='/fontend/img/eq/photo2.png', alt='Photo')
                //-         br
                //-         img.img-responsive(src='/fontend/img/eq/photo3.jpg', alt='Photo')
                //-         br
                //-         img.img-responsive(src='/fontend/img/eq/photo3.jpg', alt='Photo')
                //-         br
                //-         img.img-responsive(src='/fontend/img/eq/photo3.jpg', alt='Photo')
                //-       .col-sm-6
                //-         img.img-responsive(src='/fontend/img/eq/photo4.jpg', alt='Photo')
                //-         br
                //-         img.img-responsive(src='/fontend/img/eq/photo1.png', alt='Photo')
                //-         br
                //-         img.img-responsive(src='/fontend/img/eq/photo3.jpg', alt='Photo')
                //-         br
                //-         img.img-responsive(src='/fontend/img/eq/photo3.jpg', alt='Photo')
                .markdown-body !{data.contentHTML}
                ul.list-inline
                  li
                    a.link-black.text-sm(href='javascript:;')
                      i.fa.fa-eye.margin-r-5
                      |  查看 (#{data.statistics.view})
                  li
                    a.link-black.text-sm(href='#')
                      i.fa.fa-thumbs-o-up.margin-r-5
                      |  喜欢 (#{data.statistics.like})
                  li.pull-right
                    a.link-black.text-sm(href='#')
                      i.fa.fa-comments-o.margin-r-5
                      |  评论 (#{data.statistics.comment})
                input.form-control.input-sm(type='text', placeholder='输入评论')
