extends ./layout/layout

block content
  include ./layout/breadcrumbNav
  section.content(ng-controller='MainPanelCtrl')
    .col-md-12
      .box.box-solid
        .box-header.with-border
          h5.box-title #{title}
        .box-body
          .row
            .col-lg-3.col-xs-6
              .small-box.bg-aqua
                .inner
                  h3 #{panel[0].goodsCount}
                .icon
                  i.fa.fa-fw.fa-file-image-o
                a.small-box-footer(href='/#{pageInfo.adminDomain}/goodsManage/') 商品
            .col-lg-3.col-xs-6
              .small-box.bg-yellow
                .inner
                  h3 #{panel[0].articlesCount}
                .icon
                  i.fa.fa-fw.fa-file-text-o
                a.small-box-footer(href='/#{pageInfo.adminDomain}/articlesManage/') 文章
            .col-lg-3.col-xs-6
              .small-box.bg-green
                .inner
                  h3 #{panel[0].usersCount}
                .icon
                  i.fa.fa-fw.fa-users
                a.small-box-footer(href='/#{pageInfo.adminDomain}/usersManage/') 用户
            .col-lg-3.col-xs-6
              .small-box.bg-red
                .inner
                  h3 #{panel[0].commentsCount}
                .icon
                  i.fa.fa-fw.fa-comments-o
                a.small-box-footer(href='javascrit:;') 留言
    .col-md-12
      .row
        .col-md-4
          .box.box-solid
            .box-header.with-border
              h5.box-title 快捷操作
            .box-body
                a.btn.btn-app(href='/#{pageInfo.adminDomain}/adminManage/')
                  i.fa.fa-user
                  | 添加管理员
                a.btn.btn-app(href='/#{pageInfo.adminDomain}/goodsManage/')
                  i.fa.fa-file-image-o
                  | 添加商品
                a.btn.btn-app(href='/#{pageInfo.adminDomain}/articlesManage/')
                  i.fa.fa-file-text-o
                  | 添加文章
                a.btn.btn-app(href='/#{pageInfo.adminDomain}/backupsManage/')
                  i.fa.fa-cloud
                  | 数据备份
        .col-md-4
          .box.box-solid
            .box-header.with-border
              h5.box-title 近期评论
            .box-body.chat#chat-box
              .direct-chat-messages(style='height: auto;max-height: 500px;')
        .col-md-4
          .box.box-solid
            .box-header.with-border
              h5.box-title 新注册用户
              .box-tools.pull-right
                span.label.label-danger 注册用户 #{panel[2].usersCount}
            .box-body.no-padding
              ul.users-list.clearfix
                each item in panel[2].newUsers
                  li
                    img(src='#{item.avatar}',alt='User Image')
                    a.users-list-name(href='#',title='#{item.nickName}') #{item.nickName}
            .box-footer.text-center
              a.uppercase(href='/#{pageInfo.adminDomain}/usersManage/') View All Users
  script.
    angular.module('Kaola',['Kaola.tools'])
    .controller('MainPanelCtrl',['$scope',function($scope){

    }])
