extends ./layout/common

block layout
  body.hold-transition.lockscreen(ng-controller='LockCtrl')
    .lockscreen-wrapper
      .lockscreen-logo
        a(href='/')
        b Kaola
        |  CMS
      .lockscreen-name #{userInfo.nickName}
      .lockscreen-item
        .lockscreen-image
          img(src='#{userInfo.avatar}',alt='User Image')
        form.lockscreen-credentials
          .input-group
            input#password.form-control(type='password',placeholder='password',ng-model='password')
            .input-group-btn
              button.btn(ng-click='submit()')
                i.fa.fa-arrow-right.text-muted
      .help-block.text-center
        Enter 请输入密码以解除账号锁定
      .text-center
        a(href='/#{pageInfo.adminDomain}/logut') 退出当前账号并重新登录
      .lockscreen-footer.text-center
        | Copyright &copy; 2016-2018 
        b
          a.text-blackAlmsaeed(href='http://github.com/chinakids',target='_blank') Chinakids
        br
        | All rights reserved
  script.
    angular.module('Kaola',['Kaola.tools'])
    .controller('LockCtrl', ['$scope','$http','$filter',function($scope,$http,$filter){
      $scope.password = '';
      $scope.submit = function(){
        $.post('/#{pageInfo.adminDomain}/unlock',{
          ticket : $filter('md5')($scope.password)
        },function(data){
          var status = data.status.split('::')[0],
          msg = data.status.split('::')[1];
          if(status === 'SUCCESS'){
            toastr.success(msg)
              setTimeout(function(){window.location.href = '/#{pageInfo.adminDomain}/'},2000);
          }else{
          	toastr.error(msg)
          }
        })
      }
    }])