extends ./layout/layout

block content
  include ./layout/breadcrumbNav
  section.content(ng-controller='TagManageCtrl')
    div.col-md-12
      div.panel.clearfix
        div.pull-right
          div.input-group
            input#searchInput.form-control.input-sm.pull-right(type='text',name='searchKey',style='width: 200px;', placeholder='请输入需要查询的关键字',value='')
            div.input-group-btn(style='width: auto;')
              button.btn.btn-sm.btn-default(type='button')
                i.fa.fa-search
    div.col-md-9
      div.box.box-default
        div.box-header.with-border
          h5.box-title #{title}
        div.box-body.table-responsive.no-padding
          ul.tag-list.col-md-12
            li.btn.btn-primary.btn-sm(ng-repeat='item in tagList track by $index')
              | {{item.name}} ({{item.count}})
        include ./layout/listFooter
        #dataLoading.overlay.hide
          i.fa.fa-refresh.fa-spin
    div.col-md-3
      div.box.box-default
        div.box-header.with-border
          h3.box-title 标签使用量
            small  前五名
        div.box-body
          div.row
            div.col-md-7
              div.chart-responsive
                canvas#pieChart(height='150')
            div.col-md-5
              ul.chart-legend.clearfix
                li(ng-repeat='item in ranking track by $index')
                  i.fa.fa-circle-o(style='color:{{item.color}}')
                  |  [{{$index+1}}] {{item.label}}
  script.
    angular.module('Kaola',['Kaola.tools'])
    .controller('TagManageCtrl',['$scope','$filter',function($scope,$filter){
      $scope.limitList = [10,20,30];
      $scope.limit = $scope.limitList[0];
      $scope.page = !{page};
      $scope.tagList = !{tagList};
      var ranking = !{ranking};
      $scope.del = function(name,id){
        if(confirm('是否删除"'+name+'"?')){
          //删除
          $.post('/#{pageInfo.adminDomain}/tagsManage/delTag',{'_id':id},function(data){
            var status = data.status.split('::')[0],
            msg = data.status.split('::')[1];
            if(status === 'SUCCESS'){
              alert(msg)
              window.location.reload()
            }else{
              alert(msg)
            }
          })
        }
      }
      var color = ['#f56954','#f39c12','#00c0ef','#3c8dbc','#d2d6de'] 
      var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
      var pieChart = new Chart(pieChartCanvas);
      $scope.ranking = [];
      for(var i=0,len = ranking.length;i<len;i++){
        $scope.ranking.push({
          value: ranking[i].count,
          color: color[i],
          highlight: color[i],
          label: ranking[i].name
        })
      }
      pieChart.Doughnut($scope.ranking, {
        responsive: true,
        maintainAspectRatio: false
      });
    }])
