extends ./layout/layout

block content
  include ./layout/breadcrumbNav
  section.content(ng-controller='TagManageCtrl')
    .col-md-12
      .panel.clearfix
        include ./layout/search
    .col-md-9
      .box.box-default
        .box-header.with-border
          h5.box-title #{title}
            small  共 #{page.count} 条记录
        .box-body.table-responsive.no-padding
          ul.tag-list.col-md-12
            li.btn.btn-primary.btn-sm(ng-repeat='item in tagList track by $index')
              | {{item.name}} ({{item.count}})
        include ./layout/listFooter
        #dataLoading.overlay.hide
          i.fa.fa-refresh.fa-spin
    .col-md-3
      .box.box-default
        .box-header.with-border
          h3.box-title 标签使用量
            small  前五名
        .box-body
          .row
            .col-md-7
              .chart-responsive
                canvas#pieChart(height='150')
            .col-md-5
              ul.chart-legend.clearfix
                li(ng-repeat='item in ranking track by $index')
                  i.fa.fa-circle-o(style='color:{{item.color}}')
                  |  {{item.label}}
  script.
    angular.module('Kaola',['Kaola.tools'])
    .controller('TagManageCtrl',['$scope','$filter',function($scope,$filter){
      $scope.tagList = !{tagList};
      var ranking = !{ranking};
      $scope.del = function(name,id){
        if(confirm('是否删除"'+name+'"?')){
          //删除
          $.post('/#{pageInfo.adminDomain}/tagsManage/delTag',{'_id':id},function(data){
            var status = data.status.split('::')[0],
            msg = data.status.split('::')[1];
            if(status === 'SUCCESS'){
              toastr.success(msg)
              setTimeout(function(){window.location.reload()},2000)
            }else{
              toastr.error(msg)
            }
          })
        }
      }
      var color = ['#f56954','#f39c12','#00c0ef','#3c8dbc','#d2d6de'] 
      var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
      var pieChart = new Chart(pieChartCanvas);
      $scope.ranking = [];
      for(var i=0,len = ranking.length;i<len;i++){
        $scope.ranking.push({
          value: ranking[i].count,
          color: color[i],
          highlight: color[i],
          label: ranking[i].name
        })
      }
      pieChart.Doughnut($scope.ranking, {
        responsive: true,
        maintainAspectRatio: false
      });
    }])
