extends ./layout/layout

block content
  include ./layout/breadcrumbNav
  section.content(ng-controller='UserManageCtrl')
    div.col-md-12
      div.panel
        div.btn-group
          a.btn.btn-primary.btn-sm(href='javascript:;',ng-click='modal = true')
            i.fa.fa-plus-square
            |  添加用户
    div.col-md-12
      div.box.box-solid
        div.box-header.with-border
          h5.box-title #{title}
        div.box-body.table-responsive.no-padding
          table.table.table-hover
            tbody
              tr
                th 昵称
                th 邮箱
                th 联系方式
                th 状态
                th 操作
              tr.datalist(ng-repeat='item in userList')
                td(ng-bind='item.nickName')
                td(ng-bind='item.email')
                td(ng-bind='item.phoneNum')
                td(ng-switch,on='item.group')
                  span.label.label-success(ng-switch-when='activated') 已激活
                  span.label.label-warning(ng-switch-when='activation') 未激活
                td
                  div.btn-group
                    button.btn.btn-primary.btn-xs(ng-click='edit($index)')
                      span.fa.fa-fw.fa-edit
                      | 编辑
                    button.btn.btn-default.btn-xs(ng-click='del(item.nickName,item._id)')
                      span.fa.fa-fw.fa-trash-o
                      | 删除
        include ./layout/listFooter
        #dataLoading.overlay.hide
          i.fa.fa-refresh.fa-spin
    div#myModal.modal(ng-class='{in:modal,fade:!modal}')
      div.modal-dialog(role='document')
        div.modal-content
          div.modal-header
            button.close(type='button',ng-click='modal = false')
              span &times;
            h4#myModalLabel.modal-title {{type == 'add' ? '新增' : '修改'}}用户
              small(ng-if='type == "edit"')  密码为空则为不修改密码
          div.modal-body.clearfix
            div.col-xs-12.clearfix
              form#add
                .form-group.has-feedback
                  input.form-control(type='email',ng-model='userData.email',placeholder='邮箱',reg='e',err-tip='请输入正确邮箱',ng-readonly='type == "edit"')
                  span.glyphicon.glyphicon-envelope.form-control-feedback
                .form-group.has-feedback
                  input.form-control(type='text',ng-model='userData.nickName',placeholder='昵称',reg='nick',err-tip='1到12位非特殊字符')
                  span.glyphicon.glyphicon-user.form-control-feedback
                .form-group.has-feedback
                  input.form-control(type='text',ng-model='userData.phoneNum',placeholder='电话',reg='m',err-tip='请输入正确的手机号码')
                  span.glyphicon.glyphicon-phone.form-control-feedback
                .form-group.has-feedback
                  input.form-control#password(type='password',ng-model='userData.password',placeholder='密码',reg='s6-18',err-tip='密码应当为6到18位非非特殊字符',autocomplete='off')
                  span.glyphicon.glyphicon-lock.form-control-feedback
                .form-group.has-feedback
                  input.form-control(type='password',name='repassword',placeholder='再次输入密码',regto='password',err-tip='两次密码输入不一致',autocomplete='off')
                  span.glyphicon.glyphicon-lock.form-control-feedback
                .form-group.has-feedback#tip
                .form-group.has-feedback
                  button.btn.btn-primary.btn-block.btn-flat(type='button',ng-click='submit()') 确 定
  script.
    angular.module('Kaola',['Kaola.tools'])
    .controller('UserManageCtrl',['$scope',function($scope){
      $scope.limitList = [10,20,30];
      $scope.limit = $scope.limitList[0];
      $scope.page = !{page};
      $scope.userList = !{userList};
      $scope.modal = false;
      $scope.type = 'add';
      $scope.userData = {
        'email'      : '',//邮箱
        'nickName'   : '',//昵称
        'password'   : '',//密码
        'phoneNum'   : ''
      }
      $scope.$watch('modal',function(){
        if($scope.modal){
          angular.element(document.getElementById('myModal')).css({'display':'block'})
        }else{
          angular.element(document.getElementById('myModal')).css({'display':'none'})
          //关闭清空
          $('#add input').each(function(){
            $(this).removeClass('reg-success').removeClass('reg-error');
          })
          $scope.type = 'add';
          $scope.userData = {
            'email'      : '',//邮箱
            'nickName'   : '',//昵称
            'password'   : '',//密码
            'phoneNum'   : ''
          }
        }
      })
      $scope.editId = '';
      //管理员是允许修改自己全部信息的
      $scope.edit = function(i){
        $scope.type = 'edit'
        $scope.modal = true;
        $scope.editId = $scope.userList[i]._id;
        $scope.userData = {
          'email'      : $scope.userList[i].email,//邮箱
          'nickName'   : $scope.userList[i].nickName,//昵称
          'password'   : '',//密码
          'phoneNum'   : $scope.userList[i].phoneNum
        }
      }
      var ajaxCb = function(data){
        var status = data.status.split('::')[0],
        msg = data.status.split('::')[1];
        if(status === 'SUCCESS'){
          $('#tip').append('<div class=\'callout callout-success\'><p>'+msg+'</p></div>');
          setTimeout(function(){
            window.location.reload()
          },2000)
        }else{
          $('#tip').append('<div class=\'callout callout-danger\'><p>'+msg+'</p></div>');
          setTimeout(function(){
            $('#tip').html('');
          },2000)
        }
      }
      $scope.submit = function(){
        if($scope.type === 'add'){
          $('#add input').each(function(){
            $(this).trigger('focus').trigger('blur');
          })
          if($('#add .reg-success').size() === 5){
            //新增
            $.post('/#{pageInfo.adminDomain}/usersManage/addUser',$scope.userData,ajaxCb)
          }else{
            $('#tip').append('<div class=\'callout callout-danger\'><p>填写信息不完整</p></div>');
            setTimeout(function(){
              $('#tip').html('');
            },2000)
          }
        }else if($scope.type === 'edit'){
          if($scope.userData.password === ''){
            $('#add input[type="email"],#add input[type="text"]').each(function(){
              $(this).trigger('focus').trigger('blur');
            })
            if($('#add .reg-success').size() === 3){
              //修改
              $.post('/#{pageInfo.adminDomain}/usersManage/editUser',{
                '_id'        : $scope.editId,
                'nickName'   : $scope.userData.nickName,
                'phoneNum'   : $scope.userData.phoneNum
              },ajaxCb)
            }else{
              $('#tip').append('<div class=\'callout callout-danger\'><p>填写信息不完整</p></div>');
              setTimeout(function(){
                $('#tip').html('');
              },2000)
            }  
          }else{
            $('#add input').each(function(){
              $(this).trigger('focus').trigger('blur');
            })
            if($('#add .reg-success').size() === 5){
              //修改
              $.post('/#{pageInfo.adminDomain}/usersManage/editUser',{
                '_id'        : $scope.editId,
                'nickName'   : $scope.userData.nickName,
                'password'   : $scope.userData.password,
                'phoneNum'   : $scope.userData.phoneNum
              },ajaxCb)
            }else{
              $('#tip').append('<div class=\'callout callout-danger\'><p>填写信息不完整</p></div>');
              setTimeout(function(){
                $('#tip').html('');
              },2000)
            }  
          }     
        }
      }
      $scope.del = function(name,id){
        if(confirm('是否删除"'+name+'"?')){
          //删除
          $.post('/#{pageInfo.adminDomain}/usersManage/delUser',{'_id':id},function(data){
            var status = data.status.split('::')[0],
            msg = data.status.split('::')[1];
            if(status === 'SUCCESS'){
              alert(msg)
              window.location.reload()
            }else{
              alert(msg)
            }
          })
        }
      }
    }])
